*{
    padding: 0;
}

h1{
    text-align: center;
    font-size: 60px;
    color: rgb(0, 0, 0);
    margin-top: 0%;
}
p{
    font-size: 20px;
    margin-left: 10px;
    color: rgb(51, 51, 51);    
}
h2{
    
    font-size: 30px;
    color: rgba(0, 0, 0, 0.733);
}
ul{
    color: rgb(39, 53, 43);
    font-size: 20px;
}
body{
    margin: 0;
    background-image: url("./ArtStation\ -\ Explore.gif");
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 150%;
    background-position: center center;
    height: 100vh;
    width: 100%;
    
}

main {
    width: 50vw;
    grid-area: m;

}

.texto{
    margin-top: 0%;
    max-width: 810px;
    background: rgba(255, 255, 255, 0.541);
    border-radius: 20px;
    position: relative;
    margin: 10px;
    top: 20px;
}


img {
    position: absolute;
    left: 1450px;
    width: 250px;
    height: 350px;
    bottom: 250px;
}
#ult{
    margin-bottom: 0%;
}
.corpo{
    margin: 50px;
    padding-left: 10px;
    text-align: justify;
}

#a{
    bottom: -100px;
    left: 1000px;
}
#b{
    bottom: -100px;
    left: 1550px;
}
#c{
    bottom: 500px;
    left: 1550px;
}
#d{
    bottom: 500px;
    left: 1000px;
}
#a1{
    position: relative;
    color: rgb(255, 255, 255);
    top: -500px;
    left:1590px;
    width: 2px;
}
#b2{
    position: relative;
    color: rgb(255, 255, 255);
    top: -1140px;
    left: 1590px;
    width: 2px;
}
#c2{
    position: relative;
    color: rgb(255, 255, 255);
    top: -590px;
    left: 1040px;
    width: 2px;
}
#d2{
    position: relative;
    color: rgb(252, 0, 0);
    top: -1220px;
    left: 1050px;  
    width: 2px;
}

.pronto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80vh 20vh;
    grid-template-areas: "m m a a"
                            "m m a a";
}

aside{
    
    width: 50vw;
    grid-area: a;
}

@media (max-width: 700px) {

}

