body{
    background-image: url("imagens/9df8095367db1fadea4d947a64ae28c6.gif");
    background-color:#682435 ;
    background-repeat: no-repeat;
    background-size: 1400px 650px;
}

@font-face{
    font-family: Barosa;
    src: url(FontsFree-Net-Barosa-Regular.ttf);
}

h1{
    color: hsl(0, 0%, 99%);
    font-family: Barosa;
    font-size: 120px;
    padding-left: 20px;
    top: -50px;
    position: absolute;
    
}

@font-face {
    font-family: Catchy;
    src: url(CatchyMager-Normal.ttf);
}

#titulos{
    font-family: Catchy;
    font-size: 20px;
    color: white;
    margin-top: -230px;
    padding-left: 20px;

}
h3{
    font-family: esthetique;
    font-size: 20px;
    color: rgb(219, 208, 208);

}
#t1{
    position: relative;
    top: -150px;
}

#pocoes{
    text-align: justify;
    color: aliceblue;
    margin-left: 10px;
    float: inline-start;
    width: 700px;
    margin-top: 200px;
    background-color: rgba(129, 3, 3, 0.377);
    border-radius: 25px 25px 25px 25px;
    font-size: 19px;
    padding: 20px;
}

.text{
    padding-left: 0%;
    display: flex;
    justify-content: start;
}

#principais{
    margin-top: 180px;
    padding-left: 20px;
}

@font-face {
    font-family: jordan;
    src: url(jordan_2/Jordan.otf);
}

@font-face {
    font-family: esthetique;
    src: url(esthetique/esthetique.otf);
}

.nome{
    font-family: esthetique;
    font-size: 16px;
    color: rgb(219, 208, 208);
    margin-top: -10px;
    padding-left: 60px;
}

.descrição{
    text-align: justify;
    color: aliceblue;
    margin-left: 10px;
    float: inline-start;
    width: 700px;
    margin-top: 10px;
    background-color: rgba(249, 34, 45, 0.342);
    border-radius: 25px 25px 25px 25px;
    font-size: 17px;
    padding: 1px;
    padding-left: 10px;
    padding-right:10px;
}


.escritas{
    text-align: justify;
    color: aliceblue;
    margin-left: 10px;
    float: inline-start;
    width: 700px;
    margin-top: 10px;
    background-color: rgba(156, 1, 187, 0.377);
    border-radius: 25px 25px 25px 25px;
    font-size: 19px;
    padding: 1px;
    position: relative;
    top: 50px
}

#cura{
    text-align: justify;
    color: aliceblue;
    margin-left: 10px;
    float: inline-start;
    width: 700px;
    margin-top: 30px;
    background-color: rgba(156, 1, 187, 0.377);
    border-radius: 25px 25px 25px 25px;
    font-size: 19px;
    padding: 30px;
}

#curat{
    font-family: esthetique;
    font-size: 20px;
    color: rgb(219, 208, 208);
    margin-top: 10px;
    padding-left: 60px;

}

p{
    font-family: esthetique;
    font-size: 16px;
    color: rgb(219, 208, 208);
    margin-top: -0.5px;
    padding-left: 60px
}

.trans{
    background-color: rgba(249, 34, 45, 0.342);
    border-radius: 25px;
    color: white;
    text-align: justify;
    margin-left: 10px;
    float: inline-start;
    width: 700px;
    margin-top: 10px;
    border-radius: 25px;
    font-size: 19px;
    padding-right: 20px;
    padding-top: 5px;
    padding-left: 5px;
    position: relative;
    top: -150px;
}

h1::selection{
    background-color: rgb(173, 149, 238);
    color: black;
}

h2::selection{
    background-color: rgb(124, 9, 9);
    color: rgb(178, 95, 255);
}
#tranf1{
    width: 150px;
    height: 150px;
    position:relative;
    top: -350px;
    left: 800px;
}

#tranf2{
    width: 150px;
    height: 150px;
    position:relative;
    top: -350px;
    left: 900px;
}
#cura1{
    width: 150px;
    height: 150px;
    position:relative;
    left: 800px;
    top: -230px;
}

#cura2{
    width: 150px;
    height: 150px;
    position:relative;
    left: 900px;
    top: -230px;
}
#pocao1{
    width: 150px;
    height: 150px;
    position:relative;
    left: 800px;
    top: -150px;
}

#pocao2{
    width: 150px;
    height: 150px;
    position:relative;
    left: 900px;
    top: -150px;
}