@font-face {
    font-family: Horizon;
    src: url(./fonte/Horizon.otf);
}
@font-face {
    font-family: Barosa;
    src: url(./fonte/FontsFree-Net-Barosa-Regular.ttf);
}
@font-face {
    font-family: BrightRetro;
    src: url(./fonte/BrightRetro.otf);
}
@font-face {
    font-family: Catchy;
    src: url(./fonte/CatchyMager-Normal.ttf);
}    
body {
    background-color:  #193436;

}
.explica{
    display: block;
    text-align: justify;
    color: white;
    width: 950px;
    height: 300px;
    padding-left: 20px;
}
h1 {
    color: white;
    display: block;
    font-family: Horizon;
    padding-left: 20px;
    font-size: 70px;
}
h2 {
    font-family: Catchy;
    color: white;
    padding: 20px;
    font-size: 30px;
    position: relative;
}
p {
    color: white;
}
.topicos {
    padding-left: 20px;
    text-align: justify;
    width: 950px;
    height: 300px;
    position: relative;
}
.historia {
    position: relative;
    top: -150px;
}
#omagico {
    position: relative;
    left: 1030px;
    top: -230px;
    width: 200px;
    height: 250px;
}