body{
    background-image: url("ABOBOBO.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: aquamarine;
}

h2{
    text-align: center;
    color: aliceblue;
    margin-left: 10px;
}

.text{
    padding-left: 0%;
    display: flex;
    justify-content: start;
}
