body{
    background-image: url(./imagens/background_cristais.gif);
    background-color:#261440 ;
    background-repeat: no-repeat;
    background-size: 1400px 650px;
}
@font-face{
    font-family: Barosa;
    src: url(./fonte/FontsFree-Net-Barosa-Regular.ttf);
}
@font-face {
    font-family: Catchy;
    src: url(./fonte/CatchyMager-Normal.ttf);
} 
@font-face {
    font-family: BrightRetro;
    src: url(./fonte/BrightRetro.otf);
}
header h1{
    font-family: Barosa;
    font-size: 120px;
    color: white;
    padding-left: 20px;
    top: -50px;
    position: absolute;
}
#impress {
    font-family: Catchy;
    font-size: 30px;
    color: white;
    margin-top: 160px;
    padding-left: 20px;
}
#energia {
    font-family: Catchy;
    font-size: 30px;
    color: white;
    position: relative;
    top: -200px;
    padding-left: 20px;

}
.firstimp {
    color: white;
    background-color: #2f6e8ece;
    width: 860px;
    border-radius: 20px;
    height: 120px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: justify;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 20px;
}

#borda{
    background-image: linear-gradient(to right, #582969d8, #0d5b55c4);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 1000px;
    top: -300px;
    position: relative;
}
#cristals{
    width: 200px;
    height: 200px;
    margin-left: 25px;
    margin-top: 25px;
}
.energia{
    color: white;
    position:relative;
    top: -200px;
    background-color: #28b2b4b0;
    width: 860px;
    height: 200px;
    border-radius: 20px;
    margin-left: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#elements{
    position: relative;
    top: -155px;
    left:600px;
    width: 245px;
    height: 120px;
}
#usos {
    font-family: BrightRetro;
    font-size: 65px;
    color: white;
    position: relative;
    top:-200px;
    padding-left: 20px;
}
.usoscomuns {
    color: white;
    position:relative;
    top: -250px;
    width: 850px;
    height: 200px;
    text-align: justify;
    padding-left: 20px;
}

