body{
    background-image: url("9df8095367db1fadea4d947a64ae28c6.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face{
    font-family: Barosa;
    src: url(FontsFree-Net-Barosa-Regular.ttf);
}

h1{
    color: hsl(0, 0%, 99%);
    font-family: Barosa;
    font-size: 120px;
    padding-left: 20px;
    top: -50px;
    position: absolute;
    
}

@font-face {
    font-family: Catchy;
    src: url(CatchyMager-Normal.ttf);
}

#titulos{
    font-family: Catchy;
    font-size: 20px;
    color: white;
    margin-top: -230px;
    padding-left: 20px;

}


#pocoes{
    text-align: justify;
    color: aliceblue;
    margin-left: 10px;
    float: inline-start;
    width: 700px;
    margin-top: 200px;
    background-color: rgba(249, 34, 45, 0.409);
    border-radius: 25px 25px 25px 25px;
    font-size: 19px;
    padding: 20px;
}

.text{
    padding-left: 0%;
    display: flex;
    justify-content: start;
}

